@charset "utf-8";
@media print {

/*‾‾‾‾‾===================‾‾‾‾‾‾\
|      ||  Page Styles  ||      |
\______===================_____*/

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* General Styles */


a:link:after, a:visited:after {
  content:" (" attr(href) ") ";
  font-size: 0.75em;
}

h2 a {
  display: none;
}

nav {
  columns: 1;
  padding: 50px;
}

footer {
  display: none;
}


}