@charset "utf-8";

/*‾‾‾‾‾====================‾‾‾‾‾‾\
|      ||  Table Styles  ||      |
\______====================_____*/

table {
    background-image: linear-gradient(rgb(190, 255, 225), rgb(255, 136, 199));
    border: 5px rgb(166, 128, 188) outset;
 }
 
 th, td {
    border: 3px solid gray;
    line-height: 1.4em;
    padding: 8px;
 }
 
 th {
    background-color: rgb(12, 120, 192);
    color: rgb(176, 255, 130);
    font-weight: normal;
 }
 
 td {
    color: rgb(0, 82, 114);
    font-size: 0.9em;
    vertical-align: top;
 }
 
 /* Column Styles */
 
 col#firstCol {
    width: 24%;
 }
 
 col.dataCols {
    width: 19%;
 }
 
 /* Table Header Styles */
 
 thead tr {
    height: 60px;
 }
 
 thead tr:first-of-type th:first-of-type {
    font-size: 2em;
 }
 
 thead tr:first-of-type th:not(:first-of-type) {
    background: transparent;
    color: black;
 }