/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 7
   Review Assignment

   Customer Information Validation Style Sheet
   Author: Jack Salzman
   Date:   Saturday, 9/12

   Filename: rb_validate.css

*/


/* Validation Styles */

