@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Review Assignment
   
   Author:   
   Date:     
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("tf_designs.css");



/* General Flex Styles */

body {
   display: flexbox;
   orientation: row;
   flex-wrap: wrap;
}

#left {
   flex-grow: 1;
   flex-shrink: 8;
   flex-basis: 130px;
}

#right {
   flex-grow: 8;
   flex-shrink: 1;
   flex-basis: 351px;
}

section.tips {
   display: flexbox;
   flex-direction: row;
   flex-wrap: wrap;
}

article {
   display: flex;
   flex-grow: 2;
   flex-shrink: 1;
   flex-basis: 351px;
}

/* ===============================
	Mobile Devices: 0 to 480px 
   ===============================
*/
	




/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/



